<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>CSS font-weight属性字体加粗实例-www.baike369.com</title>
<style type="text/css">
<!--
table{border:2px double #666;width:500px;height:200px;}
th,td{border:1px double #666;}
#w-normal{font-weight:normal;}
#w-bold{font-weight:bold;}
#w-bolder{font-weight:bolder;}
#w-lighter{font-weight:lighter;}
#w-1{font-weight:100;}
#w-2{font-weight:200;}
#w-3{font-weight:300;}
#w-4{font-weight:400;}
#w-5{font-weight:500;}
#w-6{font-weight:600;}
#w-7{font-weight:700;}
#w-8{font-weight:800;}
#w-9{font-weight:900;}
-->
</style>
</head>
<body>
<table>
<tr>
<th id="w-lighter">lighter</th><th id="normal">normal</th>
<th id="bold">bold</th><th id="bolder">bolder</th>
</tr>
<tr>
<td id="w-1">字体粗细为100</td><td id="w-4">字体粗细为400</td>
<td id="w-5">字体粗细为500</td><td id="w-8">字体粗细为800</td>
</tr>
<tr>
<td id="w-2">字体粗细为200</td><td>&nbsp;</td>
<td id="w-6">字体粗细为600</td><td id="w-9">字体粗细为900</td>
</tr>
<tr>
<td id="w-3">字体粗细为300</td><td>&nbsp;</td>
<td id="w-7">字体粗细为700</td><td>&nbsp;</td>
</tr>
</table>
</body>
</html>